= link_to 'New Currency exchange', new_currency_exchange_path, class: 'btn btn-outline btn-primary pull-right new-instance'
%h1 Listing currency_exchanges

.panel.panel-primary
  .panel-heading
    .row
      .col-xs-6
        = search_form_for(@search, class: 'form search') do |f|
          .sidebar-search
            .input-group.custom-search-form
              = f.search_field :name_cont, class: 'form-control', placeholder: 'Serach...'
              %span.input-group-btn
                %button.btn.btn-default{:type => "submit"}
                  %i.fa.fa-search

  .panel-body
    .row
      .col-xs-12
        %table.table.table-striped.table-bordered.table-hover
          %tr
            %th Safe
            %th Source
            %th Source amount
            %th Destination
            %th Destination amount
            %th Exchange rate
            %th Description
            %th

          - @currency_exchanges.each do |currency_exchange|
            %tr
              %td= currency_exchange.safe
              %td= currency_exchange.source
              %td= currency_exchange.source_amount
              %td= currency_exchange.destination
              %td= currency_exchange.destination_amount
              %td= currency_exchange.exchange_rate
              %td= currency_exchange.description
              %td= render 'actions', currency_exchange: currency_exchange


