%h1 Listing Currencies

.panel.panel-primary
  .panel-heading
    .row
      .col-xs-6
        = search_form_for(@search, class: 'form search') do |f|
          .sidebar-search
            .input-group.custom-search-form
              = f.search_field :name_cont, class: 'form-control', placeholder: 'Serach...'
              %span.input-group-btn
                %button.btn.btn-default{:type => "submit"}
                  %i.fa.fa-search

  .panel-body
    .row
      .col-xs-12
        %table.table.table-striped.table-bordered.table-hover
          %tr
            %th Name
            %th Sign
            %th

          - @currencies.each do |currency|
            %tr
              %td= currency.name
              %td= currency.sign
              %td= render 'actions', currency: currency

= link_to 'New Currency', new_currency_path
