= form_for @stock, class: 'form' do |f|
  - if @stock.errors.any?
    #error_explanation
      %h2= "#{pluralize(@stock.errors.count, "error")} prohibited this stock from being saved:"
      %ul
        - @stock.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :variant_id
    = f.select :variant_id, options_from_collection_for_select(Variant.all, :id, :name, @stock.variant_id), {include_blank: true},class: 'form-control'
  .form-group
    = f.label :quantity
    = f.text_field :quantity, class: 'form-control'
  .form-group
    = f.label :date
    %br
    = f.date_select :date, {}, class: 'form-control date-select'
  .actions.form-group
    = f.submit 'Save', class: 'btn btn-primary'
