= link_to 'New Stock', new_stock_path, class: 'btn btn-outline btn-primary pull-right new-instance'
%h1 Listing Stocks
.panel.panel-primary
  .panel-heading
    .row
      .col-xs-6
        = search_form_for(@search, class: 'form search') do |f|
          .sidebar-search
            .input-group.custom-search-form
              = f.search_field :product_name_cont, class: 'form-control', placeholder: 'Serach...'
              %span.input-group-btn
                %button.btn.btn-default{:type => "submit"}
                  %i.fa.fa-search

  .panel-body
    .row
      .col-xs-12
        %table.table.table-striped.table-bordered.table-hover.data-table
          %tr
            %th Product
            %th Quantity
            %th Date
            %th.actions-column

          - @stocks.each do |stock|
            %tr
              %td= stock.product.name
              %td= stock.quantity
              %td= stock.date
              %td= render 'actions', stock: stock


