= form_for @customer, class: 'form' do |f|
  - if @customer.errors.any?
    #error_explanation
      %h2= "#{pluralize(@customer.errors.count, "error")} prohibited this customer from being saved:"
      %ul
        - @customer.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :first_name
    = f.text_field :first_name, class: 'form-control'
  .form-group
    = f.label :last_name
    = f.text_field :last_name, class: 'form-control'
  .form-group
    = f.label :email
    = f.email_field :email, class: 'form-control'
  .form-group
    = f.label :phone
    = f.text_field :phone, class: 'form-control'
  .form-group
    = f.label :address
    = f.text_area :address, class: 'form-control'
  .actions.form-group
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', customers_path, class: 'btn btn-outline btn-warning cancel'