
= form_for @order do |f|
  .row
    .col-xs-5
      %h4 Order Details:
      - if @order.errors.any?
        #error_explanation
          %h2= "#{pluralize(@order.errors.count, "error")} prohibited this order from being saved:"
          %ul
            - @order.errors.full_messages.each do |msg|
              %li= msg
      %fieldset
        .form-group
          = f.label :total
          = f.text_field :total, class: 'form-control'
        .form-group
          = f.label :state
          = f.select :state, options_for_select(Order::STATES), {prompt: ''}, class: 'form-control'
        .form-group
          = f.label :customer_id
          = f.select :customer_id, options_from_collection_for_select(Customer.all, :id, :full_name, f.object.customer_id), {include_blank: true}, class: 'form-control'
      - unless @order.new_record?
        %h4 Order Payments:
        - @order.payments.each do |p|
          %b Customer:
          %p= p.source.full_name
          %b State
          %p= p.state
          %b Date
          %p= p.date

    .col-xs-5.col-xs-offset-1.order-line-items
      %h4 Order Items:
      = f.fields_for :line_items do |flt|
        =render 'line_item_fields', f: flt
      
      = link_to_add_fields "Add Item", f, :line_items
  .actions.form-group
    = f.submit 'Save', class: 'btn btn-primary'
