%p
  %b Number:
  = @order.number
%p
  %b Total:
  = @order.total
%p
  %b State:
  = @order.state
%p
  %b Customer:
  = @order.customer.full_name
%p
  %b Completed at:
  = @order.completed_at
%p
  %b Created by:
  = @order.created_by.full_name

%h5 Line Items
- @order.line_items.each do |l|
  %p
    %b Product:
    = l.variant.name
%br
%br

%h4 Order Payments:
- @order.payments.each do |p|
  %b Customer:
  %p= p.source.full_name
  %b Date
  %p= p.date
  %b State
  %p= p.state

= link_to 'Payments', order_payments_path(@order)
\|
= link_to 'Add Payment', new_order_payment_path(@order)
\|
= link_to 'Edit', edit_order_path(@order)
\|
= link_to 'Back', orders_path
