%h1 Listing vendors

%table.table.table-striped.table-bordered.table-hover.data-table
  %tr
    %th Name
    %th email
    %th phone
    %th
    %th
    %th

  - @vendors.each do |vendor|
    %tr
      %td= vendor.full_name
      %td= vendor.email
      %td= vendor.phone
      %td= link_to 'Show', vendor
      %td= link_to 'Edit', edit_vendor_path(vendor)
      %td= link_to 'Destroy', vendor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New vendor', new_vendor_path
