.col-xs-6.col-xs-offset-2
  .panel.panel-primary
    .panel-heading
      %h4 Sign in
    .panel-body
      .col-xs-12.authform
        = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
          = devise_error_messages!
          .form-group
            = f.label :username
            = f.text_field :username, :autofocus => true, class: 'form-control'
          .form-group
            = f.label :password
            = f.password_field :password, class: 'form-control'
          = f.submit 'Sign in', class: 'btn btn-primary'
          .form-group
            - if devise_mapping.rememberable?
              .checkbox
                = f.label :remember_me do
                  = f.check_box :remember_me
                  Remember me
          .row
            .col-xs-5
              - if devise_mapping.registerable?
                = link_to 'Sign up', new_registration_path(resource_name), class: 'right'
            .col-xs-7
              - if devise_mapping.recoverable?
                = link_to "Forgot password?", new_password_path(resource_name), class: 'right'

