= form_for @variant, class: 'form' do |f|
  - if @variant.errors.any?
    #error_explanation
      %h2= "#{pluralize(@variant.errors.count, "error")} prohibited this variant from being saved:"
      %ul
        - @variant.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :weight
    = f.text_field :weight, class: 'form-control'
  .form-group
    = f.label :width
    = f.text_field :width, class: 'form-control'
  .form-group
    = f.label :height
    = f.text_field :height, class: 'form-control'
  .form-group
    = f.label :depth
    = f.text_field :depth, class: 'form-control'
  .form-group
    = f.label :product_id
    = f.select :product_id, options_from_collection_for_select(Product.all, :id, :name), {include_blank: true}, class: 'form-control'
  .form-group
    = f.label :cost_price
    = f.text_field :cost_price, class: 'form-control'
  .form-group
    = f.label :price
    = f.text_field :price, class: 'form-control'
  .actions
    = f.submit 'Save'
