%h1 Listing Variants
.panel.panel-primary
  .panel-heading
    .row
      .col-xs-6
        = search_form_for(@search, class: 'form search') do |f|
          .sidebar-search
            .input-group.custom-search-form
              = f.search_field :product_name_cont, class: 'form-control', placeholder: 'Serach...'
              %span.input-group-btn
                %button.btn.btn-default{:type => "submit"}
                  %i.fa.fa-search

  .panel-body
    .row
      .col-xs-12
        %table.table.table-striped.table-bordered.table-hover.data-table
          %tr
            %th Weight
            %th Width
            %th Height
            %th Depth
            %th Product
            %th Cost price
            %th Price
            %th.actions-column

          - @variants.each do |variant|
            %tr
              %td= variant.weight
              %td= variant.width
              %td= variant.height
              %td= variant.depth
              %td= variant.product.name
              %td= variant.cost_price
              %td= variant.price
              %td= render 'actions', variant: variant

= link_to 'New Variant', new_variant_path
