= form_for [@user, @payment] do |f|
  - if @payment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@payment.errors.count, "error")} prohibited this payment from being saved:"
      %ul
        - @payment.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :amount
    = f.text_field :amount, class: 'form-control'
  .form-group
    = f.label :date
    = f.date_field :date, class: 'form-control'
  -# .form-group
  -#   = f.label :order_id
  -#   = f.select :order_id, options_from_collection_for_select(Order.all, :id, :number, @payment.order_id), {include_blank: true},  class: 'form-control'
  -# .form-group
  -#   = f.label :source_id
  -#   = f.select :source_id, options_from_collection_for_select(Customer.all, :id, :full_name, @payment.source_id), {include_blank: true}, class: 'form-control'
  -# .form-group
    = f.label :state
    = f.text_field :state, class: 'form-control'
  .form-group
    = f.label :payment_method_id
    = f.select :payment_method_id, options_from_collection_for_select(PaymentMethod.all, :id, :name, @payment.payment_method_id), {include_blank: true}, class: 'form-control'
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', payments_path, class: 'btn btn-outline btn-default cancel'
