%h1 Listing payments
.panel.panel-primary
  .panel-heading
    .row
      .col-xs-11
        = search_form_for(@search, class: 'form search') do |f|
          .sidebar-search
            .input-group.custom-search-form
              .row
                .col-xs-6
                  .form-group
                    = f.label :customer_id_eq, 'Customer'
                    = f.select :customer_id_eq, options_from_collection_for_select(Customer.all, :id, :full_name, params[:q].fetch(:customer_id_eq, nil)), {include_blank: true}, class: 'form-control'
                .col-xs-2
                  .form-group
                    %button.btn.btn-default{type: "submit", style: "margin-top:19px"}
                      %i.fa.fa-search
                        Search

  .panel-body
    .row
      .col-xs-12
        %table.table.table-striped.table-bordered.table-hover
          %tr
            %th Amount
            %th Order
            %th Customer
            %th State
            %th Payment method
            %th
            %th
            %th

          - @payments.each do |payment|
            %tr
              %td= payment.amount
              %td= payment.order
              %td= payment.customer
              %td= payment.state
              %td= payment.payment_method
              %td= link_to 'Show', payment
              %td= link_to 'Edit', edit_payment_path(payment)
              %td= link_to 'Destroy', payment, :method => :delete, :data => { :confirm => 'Are you sure?' }


= link_to 'New Payment', new_payment_path
