%p
  %b Date:
  = @payment.date
%p
  %b Amount:
  = @payment.amount
%p
  %b Order:
  = @payment.payable.number
%p
  %b Customer:
  = @payment.source.full_name
%p
  %b State:
  = @payment.state
%p
  %b Payment method:
  = @payment.payment_method.try(:name)

= link_to 'Edit', edit_order_payment_path(@order, @payment)
\|
= link_to 'Back', order_payments_path(@order)
