%h1 Listing categories

= search_form_for(@search) do |f|
  = f.label :name_cont
  = f.search_field :name_cont

.col-xs-6
  %table.table.table-striped.table-bordered.table-hover
    %tr
      %th Name
      %th Parent
      %th

    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.parent.try(:name)
        %td
          %span= link_to 'Show', category
          \|
          %span= link_to 'Edit', edit_category_path(category)
          \|
          %span= link_to 'Destroy', category, :method => :delete, :data => { :confirm => 'Are you sure?' }


= link_to 'New Category', new_category_path
