%h1 
  Listing Suppliers
  = link_to 'New Supplier', new_supplier_path, class: 'btn btn-outline btn-primary pull-right new-instance'


.panel.panel-primary
  .panel-heading
    .row
      .col-xs-6
        = search_form_for(@search, class: 'form search') do |f|
          .sidebar-search
            .input-group.custom-search-form
              = f.search_field :full_name_cont, class: 'form-control', placeholder: 'Serach...'
              %span.input-group-btn
                %button.btn.btn-default{:type => "submit"}
                  %i.fa.fa-search

  .panel-body
    .row
      .col-xs-12
        %table.table.table-striped.table-bordered.table-hover.data-table
          %tr
            %th Name
            %th email
            %th phone
            %th Total Amount
            %th Total Paid
            %th Remaining Amount
            %th.actions-column

          - @suppliers.each do |supplier|
            %tr
              %td= supplier.full_name
              %td= supplier.email
              %td= supplier.phone
              %td= supplier.total_amount ||= 0
              %td= supplier.total_paid ||= 0
              %td= supplier.total_amount - supplier.total_paid 
              %td= render 'actions', supplier: supplier

