= form_for @line_item do |f|
  - if @line_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@line_item.errors.count, "error")} prohibited this line_item from being saved:"
      %ul
        - @line_item.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :product_id
    = f.select :product_id, options_from_collection_for_select(Product.all, :id, :name) , {include_blank: true}, class: 'form-control'
  .form-group
    = f.label :quantity
    = f.text_field :quantity, class: 'form-control'
  .form-group
    = f.label :price
    = f.text_field :price, class: 'form-control'
  .form-group
    = f.label :cost_price
    = f.text_field :cost_price, class: 'form-control'
  -# .form-group
  -#   = f.label :order
  -#   = f.text_field :order, class: 'form-control'
  .actions.form-group
    = f.submit 'Save'
    = link_to 'Cancel', line_items_path, class: 'btn btn-outline btn-default cancel'