= form_for @line_item do |f|
  - if @line_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@line_item.errors.count, "error")} prohibited this line_item from being saved:"
      %ul
        - @line_item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :product_id
    = f.text_field :product_id
  .field
    = f.label :quantity
    = f.text_field :quantity
  .field
    = f.label :price
    = f.text_field :price
  .field
    = f.label :cost_price
    = f.text_field :cost_price
  .field
    = f.label :order
    = f.text_field :order
  .actions
    = f.submit 'Save'
    = link_to 'Cancel', line_items_path, class: 'btn btn-outline btn-default cancel'