%h1 Listing line_items

.panel.panel-primary
  .panel-heading
    .row
      .col-xs-6
        = search_form_for(@search, class: 'form search') do |f|
          .sidebar-search
            .input-group.custom-search-form
              = f.search_field :product_name_cont, class: 'form-control', placeholder: 'Serach...'
              %span.input-group-btn
                %button.btn.btn-default{:type => "submit"}
                  %i.fa.fa-search

  .panel-body
    .row
      .col-xs-12
        %table.table.table-striped.table-bordered.table-hover
          %tr
            %th Product
            %th Quantity
            %th Price
            %th Cost price
            %th Order
            %th

          - @line_items.each do |line_item|
            %tr
              %td= line_item.product.name
              %td= line_item.quantity
              %td= line_item.price
              %td= line_item.cost_price
              %td= line_item.order
              %td= render 'actions', line_item: line_item


= link_to 'New Line item', new_line_item_path
