%p#notice= notice

%p
  %b Variant:
  = @line_item.variant
%p
  %b Quantity:
  = @line_item.quantity
%p
  %b Price:
  = @line_item.price
%p
  %b Cost price:
  = @line_item.cost_price
%p
  %b Order:
  = @line_item.order

= link_to 'Edit', edit_line_item_path(@line_item)
\|
= link_to 'Back', line_items_path
