= form_for @warehouse do |f|
  - if @warehouse.errors.any?
    #error_explanation
      %h2= "#{pluralize(@warehouse.errors.count, "error")} prohibited this warehouse from being saved:"
      %ul
        - @warehouse.errors.full_messages.each do |msg|
          %li= msg

  .fom-group
    = f.label :name
    = f.text_field :name, class: 'form-control'
  .fom-group
    = f.label :address
    = f.text_area :address, class: 'form-control'
  .fom-group
    = f.label :phone
    = f.text_field :phone, class: 'form-control'
  .fom-group
    = f.label :size
    = f.text_field :size, class: 'form-control'
  .actions.form-group
    = f.submit 'Save', class: 'btn btn-primary'
    = link_to 'Cancel', warehouses_path, class: 'btn btn-outline btn-default cancel'
