%h1 Listing warehouses

%table
  %tr
    %th Name
    %th Address
    %th Phone
    %th Size
    %th
    %th
    %th

  - @warehouses.each do |warehouse|
    %tr
      %td= warehouse.name
      %td= warehouse.address
      %td= warehouse.phone
      %td= warehouse.size
      %td= link_to 'Show', warehouse
      %td= link_to 'Edit', edit_warehouse_path(warehouse)
      %td= link_to 'Destroy', warehouse, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Warehouse', new_warehouse_path
