!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Wood Erp'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Wood Erp'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header#wrapper
      = render 'layouts/navigation'
    %main{:role => "main"}
      #page-wrapper
        = render 'layouts/messages'
        = yield

:javascript
  $(document).ready(function(){
    $(".#{params[:controller]}").addClass('alert-info').closest('.collapse').collapse('show');

  });